@font-face {
  font-family: RedHatDisplay;
  src: url('./static/fonts/RedHatDisplay-Bold.ttf');
}

@font-face {
  font-family: Jost;
  src: url('./static/fonts/Jost-VariableFont_wght.ttf');
}

@font-face {
  font-family: Bebas;
  src: url('./static/fonts/BebasNeue-Bold.ttf');
}

@font-face {
  font-family: Hero;
  src: url('./static/fonts/Hero-Regular.ttf');
}

@font-face {
  font-family: HeroLight;
  src: url('./static/fonts/Hero-Light.ttf');
}
