.contagion {
  &__text {
    font-family: Hero;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 21px;

    .title {
      text-align: center;
    }
  }

  .contagion-cards {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 410px;
    height: 525px;
    margin-right: 30px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px 1px #cccccc;
    transition: 400ms;

    &:last-child {
      margin-right: 0;
    }

    &__img {
      height: 249px;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__text {
      font-family: Hero;
      margin: 35px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;

      font-size: 21px;
      color: #4b4f51;
      width: 370px;

      &-bold {
        font-family: Bebas;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 36px;
      }
    }
  }
  &-position {
    margin-bottom: 100px;
  }

  @media screen and (max-width: 800px) {
    
    &__text {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 21px;
      font-family: Hero;
      width: 90%;
      text-align: start;

      .title {
        text-align: start;
        font-size: 31px;

        &-orange {
          font-size: 17px;
        }
      }
    }

    .contagion-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .card {
      width: 370px;
      height: 455px;
      margin-right: 0;
      border-radius: 7px;
      margin-bottom: 20px;
      box-shadow: 1px 2px 10px 1px #cccccc;

      &__img {
        height: 249px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-mobile {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 50%;
          border: 3px solid;
          border-color: #ffadad;
        }
      }

      &__text {

        font-family: Hero;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

        font-size: 21px;
        color: #4b4f51;
        width: 350px;

        &-bold {
          font-family: Bebas;
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 27px;
        }
      }
    }

    &-position {
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }
}

.card:hover {
  box-shadow: 6px 7px 20px 1px #797b7c;
  cursor: pointer;
}
