.what-should-do {
  &__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
    }
    .text {
      text-align: center;
      font-size: 24px;
      margin: 0;
    }
  }

  .protected {
    &__info {
      display: flex;
      width: 650px;
      height: 250px;

      .info-number {
        text-align: center;
        font-family: RedHatDisplay;
        font-size: 44px;
        color: #fa5652;
        background: #f5bcba;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        line-height: 70px;
      }
    }
  }
}
