.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    font-family: Hero;
    display: flex;
    align-items: center;
    font-size: 18px;

    .tab {
      margin-right: 45px;
      list-style: none;
      &-link {
        transition: 0.3s;
        text-decoration: none;
        color: #035755;

        &:hover {
          cursor: pointer;
          color: #fa5652;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-position {
    margin-top: 35px;
  }
}

.logo {
  &__text {
    font-family: RedHatDisplay;
    font-weight: bold;
    font-size: 19px;
    color: #035755;
    margin-left: 10px;
  }
}
