.youtube-icon {
  height: 45px;
  fill: #696969;
  &-hover:hover {
    transition: all 350ms;
    fill: red;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    height: 35px;
  }
}
