.stay-at-home {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    // margin-top: 100px;
    // margin-left: 100px;
    font-size: 24px;
    width: 640px;
    font-family: Jost;
  }

  &__img {
    width: 800px;
  }
}

.covid-alert {
    margin-top: 35px;
}
