.stay-at-home {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 21px;
    width: 640px;
    font-family: Hero;
  }

  &__img {
    width: 680px;
  }
}

.covid-alert {
    margin-top: 35px;
}
