.covid-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 21px;
    width: 640px;
    font-family: Hero;
  }

  &__img {
    width: 680px;
  }

  &-position {
    margin-top: 35px;
  }
}
