.covid-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 21px;
    width: 640px;
    font-family: Hero;
  }

  &-position {
    margin-top: 35px;
  }

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 21px;
      font-family: Hero;
      width: 90%;

      .title {
        font-size: 31px;

        &-orange {
          font-size: 17px;
        }
      }
    }
    &__img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid;
      border-color: #ffadad;
    }
    &-position {
      margin-top: 35px;
      margin-bottom: 65px;
    }
  }
}
