.footer {
  display: flex;
  justify-content: space-between;

  &__menu {
    font-family: Jost;
    display: flex;
    align-items: center;
    font-size: 18px;

    .tab {
      margin-right: 45px;
      transition: 0.3s;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
        color: #fa5652;
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
  }

  &-position {
    margin-bottom: 100px;
  }
}
