.twitter-icon {
  width: 45px;
  fill: #696969;
  &-hover:hover {
    transition: all 350ms;
    fill: #41abe1;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    width: 30px;
  }
}
